:local(.component) {
  .header{
    text-align: center;
    background: #242224;
    height: 77px;
  }
  .content {
    background-color: #FFF;
    min-height: 88vh;
  }
  .footer {
    text-align: center;
  }
  #logo {
    width: 105px;
    height: 39px;
    margin-top: 7%;
  }

  #dot{
    width: 10px;
    height: 10px;
    margin: 0 5px 3px 4px;
  }

  .path-header{
    color: #FFF;
    font-size: 10px;
    font-weight: bold;
    margin-top: 1%;
  }


  #InformationDash{
    text-align: center;
    background: #323132;
    height: 100px;
    p{
      color: #FFF;
      margin: 0;
      text-align: left;
      line-height: 1.3;
      font-weight: bold;
      font-size: 20px;
    }
    #title{
      font-size: 15px;
      color: #00b3b3;
    }
    #box{
      margin-top: 3%;
    }
  }

  #MenuDash{
    background: #EAE8DD;
    height: 50px;
    line-height: 50px;

    div{
      font-size: 15px;
      font-weight: bold;
      color: #A9A9A9;
    }

    div:hover {
      color: black;
      cursor: pointer;
    }

    a{
      text-transform: none;
      text-decoration: none;
    }
  }

  @media (max-width: 800px)
  {
    .header
    {
      height: 125px
    }

    .path-header
    {
      margin: 0
    }

    #InformationDash{
      display: none;
    }

    #MenuDash {
      background: #EAE8DD;
      height: 181px;
      line-height: 40px;
      text-align: center;
    }
  }
}